* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: rgb(34, 34, 34);
  color: aliceblue;
}

header h3 {
  color: grey;
  text-decoration: underline grey;
}

#firstSection {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.box {
  background-color: rgba(214, 214, 214, 0.726);
  width: 10%;
  margin: 6px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 3px rgba(202, 202, 202, 0.404);
  text-align: center;
}

.secondSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: center; */

}

footer {
  display: flex;
  justify-content:center;
  margin: 15px;
  padding: 10px;
}